.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner p {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  opacity: 0.7;
}

  .banner h2 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
